@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title_l: 32px;
        --font_size_title: 25px;
        --font_size_title_s: 18px;
        --block_padding_l: 32px;
        --block_padding: 28px;
        --outside_gap: 60px;
        --outside_gap_s: 50px;
        --inner_gap_xl: 28px;
        --border_radius_xl: 30px;
        --border_radius_l: 20px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item
    {
        .head
        {
            padding-inline: var(--inner_gap_s) var(--inner_gap_xs);


            .title
            {
                font-size: var(--font_size);
            }
        }


        .data
        {
            font-size: var(--font_size_s);
            line-height: 140%;

            padding-inline: var(--inner_gap_s);
        }
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding-block: var(--inner_gap_xl);


        .logo
        {
            img
            {
                width: 58px;
                height: 32px;
            }
        }
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        &.row
        {
            .pre_title
            {
                order: 0;

                margin-top: 0;
            }


            .col
            {
                width: 100%;
            }
        }


        .pre_title
        {
            font-size: var(--font_size_s);
        }


        .desc
        {
            font-size: var(--font_size_s);
            line-height: 140%;
        }
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        .bg
        {
            padding-block: 124px var(--cont_padding);
        }


        .desc
        {
            font-size: var(--font_size_s);
            line-height: 140%;

            padding-bottom: 0;

            border: none;
        }


        .btns
        {
            .whatsapp_link
            {
                width: 100%;
            }


            .btn
            {
                width: 100%;
            }
        }


        .stats
        {
            font-size: var(--font_size_s);

            width: 100%;
        }


        .pluses
        {
            .grid_row
            {
                --gap_y: var(--inner_gap_xxs);
            }
        }
    }



    /*-----------
        About
    -----------*/
    .about
    {
        .cont
        {
            gap: var(--inner_gap_l);
        }


        .desc
        {
            font-size: var(--font_size_s);
            line-height: 140%;
        }
    }



    /*--------------
        Services
    --------------*/
    .services
    {
        .block_head
        {
            .desc
            {
                width: 100%;
            }
        }


        .grid_row.inline
        {
            display: grid;
            overflow: auto;

            width: calc(100% + var(--cont_padding_double));

            gap: var(--inner_gap_s);
            margin-block: 0;
            margin-inline: calc(var(--cont_padding) * -1);
            padding-inline: var(--cont_padding);
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            scroll-padding: 0 var(--cont_padding);
            scroll-snap-type: x mandatory;
            scrollbar-color: transparent transparent;
            scrollbar-width: thin;


            &::-webkit-scrollbar
            {
                display: none;

                width: 0;
                height: 0;

                background-color: transparent;
            }


            &::-webkit-scrollbar-thumb
            {
                background-color: transparent;
            }


            & > *
            {
                width: 286px;
                margin: 0;

                scroll-snap-align: start;
            }
        }


        .service
        {
            min-height: 240px;
        }


        .action
        {
            padding: var(--inner_gap);

            border-radius: var(--border_radius);


            .label
            {
                font-size: var(--font_size_l);
                line-height: 140%;

                width: 100%;
                max-width: 100%;

                text-align: center;


                br
                {
                    display: none;
                }
            }


            .whatsapp_link
            {
                width: 100%;
            }
        }
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        .data
        {
            padding: var(--inner_gap_l);


            .block_head
            {
                .pre_title
                {
                    margin-bottom: 0;
                }


                .desc
                {
                    width: 248px;
                }
            }


            .whatsapp_link
            {
                width: 100%;
            }
        }


        .items
        {
            .item
            {
                .desc
                {
                    font-size: var(--font_size_s);
                }
            }
        }


        .stats
        {
            .grid_row
            {
                --items_per_line: 1;
                --gap_y: var(--inner_gap_l);
            }


            .item
            {
                gap: var(--inner_gap_xxs);


                .desc
                {
                    font-size: var(--font_size_s);
                }
            }
        }


        .action
        {
            padding: var(--inner_gap);

            border-radius: var(--border_radius);


            .label
            {
                font-size: var(--font_size_l);
                line-height: 140%;

                width: 100%;
                max-width: 100%;

                text-align: center;


                br
                {
                    display: none;
                }
            }


            .btn
            {
                width: 100%;
            }
        }
    }



    /*-----------------
        Our clients
    -----------------*/
    .our_clients
    {
        .item_wrap
        {
            .bg
            {
                &:before
                {
                    display: none;
                }
            }
        }


        .item
        {
            .title_wrap
            {
                padding-block: var(--inner_gap) var(--inner_gap_xxs);
                padding-inline: var(--inner_gap);
            }


            .title
            {
                font-size: var(--font_size_xs);


                &:has(.mob)
                {
                    .number + span
                    {
                        display: none;
                    }


                    .mob
                    {
                        display: block;
                    }
                }


                span
                {
                    padding-inline: var(--inner_gap_xs);
                    padding-block: 5px;
                }
            }


            .info
            {
                width: 100%;

                padding-inline: var(--inner_gap);


                .desc
                {
                    font-size: var(--font_size_s);
                }


                .link
                {
                    width: 100%;
                }
            }


            .image
            {
                width: 100%;
                height: 174px;
            }
        }
    }



    /*-----------
        Steps
    -----------*/
    .steps
    {
        .items
        {
            .item
            {
                .name,
                .desc,
                .exp
                {
                    font-size: var(--font_size_s);
                    line-height: 140%;
                }


                .whatsapp_link
                {
                    width: 100%;
                }
            }
        }
    }



    /*-------------
        Persons
    -------------*/
    .persons
    {
        .swiper
        {
            display: flex;
            flex-direction: column;

            margin-top: var(--block_head_offset);


            &:not(.swiper-initialized)
            {
                .swiper-wrapper
                {
                    gap: var(--spaceBetween-0);
                }


                .swiper-slide
                {
                    width: 286px;
                }
            }


            .swiper-controls
            {
                justify-content: flex-start;
                order: 2;

                margin-top: var(--inner_gap);
                margin-bottom: 0;
            }


            .swiper-slide
            {
                width: 286px;
            }
        }


        .person
        {
            .data
            {
                padding-inline: var(--inner_gap);
                padding-block: 0 var(--inner_gap);


                .info
                {
                    margin-left: calc(var(--inner_gap) * -1);

                    padding-inline: var(--inner_gap);


                    .post
                    {
                        font-size: var(--font_size_xs);
                    }
                }


                .desc
                {
                    font-size: var(--font_size_s);
                    line-height: 140%;
                }


                .spoler_btn
                {
                    font-size: var(--font_size_s);
                }
            }
        }


        .action
        {
            padding: var(--inner_gap);

            border-radius: var(--border_radius);


            .label
            {
                font-size: var(--font_size_l);
                line-height: 140%;

                width: 100%;
                max-width: 100%;

                text-align: center;


                br
                {
                    display: none;
                }
            }


            .btn
            {
                width: 100%;
            }
        }
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        .swiper
        {
            &:not(.swiper-initialized)
            {
                .swiper-wrapper
                {
                    gap: var(--spaceBetween-0);
                }


                .swiper-slide
                {
                    width: 286px;
                }
            }


            .swiper-slide
            {
                visibility: visible;

                width: 286px;

                pointer-events: auto;

                opacity: 1;
            }
        }


        .review
        {
            min-height: 240px;


            .rating
            {
                .icon
                {
                    width: 16px;
                }
            }


            .text,
            .bottom
            {
                font-size: var(--font_size_s);
                line-height: 140%;
            }
        }


        .action
        {
            padding: var(--inner_gap);

            border-radius: var(--border_radius);


            .label
            {
                font-size: var(--font_size_l);
                line-height: 140%;

                width: 100%;
                max-width: 100%;

                text-align: center;


                br
                {
                    display: none;
                }
            }


            .btn
            {
                width: 100%;
            }
        }
    }



    /*-----------
        Certs
    -----------*/
    .certs
    {
        .grid_row.inline
        {
            & > *
            {
                width: 192px;
            }
        }
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        --cont_padding: 0;


        .data
        {
            min-height: 592px;

            border: none;

            padding-inline: var(--inner_gap_l);
        }


        .desc
        {
            font-size: var(--font_size_s);
            line-height: 140%;

            width: 100%;
        }


        .btns
        {
            .whatsapp_link,
            .btn
            {
                width: 100%;
            }
        }
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        .logo
        {
            font-size: var(--font_size_s);


            img
            {
                width: 58px;
                height: 32px;
            }
        }


        .license
        {
            font-size: var(--font_size_s);
            line-height: 140%;
        }


        .menu
        {
            column-count: 1;


            .title,
            .items
            {
                font-size: var(--font_size_s);
                line-height: 140%;
            }
        }


        .text
        {
            font-size: var(--font_size_s);
            line-height: 140%;
        }


        .contacts
        {
            .phone
            {
                font-size: var(--font_size_l);
            }


            .messengers
            {
                margin-left: auto;


                a
                {
                    width: 41px;
                }
            }


            .email
            {
                font-size: var(--font_size_s);
                line-height: 140%;
            }


            .whatsapp_link
            {
                width: 100%;
            }
        }


        .langs
        {
            a
            {
                font-size: var(--font_size_s);

                min-width: 52px;
                height: 44px;
            }
        }


        .copyright
        {
            font-size: var(--font_size_s);
            line-height: 140%;
        }


        .links
        {
            font-size: var(--font_size_s);
            line-height: 140%;

            align-content: center;
            align-items: center;
            flex-direction: column;

            gap: var(--inner_gap_xs);
        }
    }
}
