@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*------------
        Header
    ------------*/
    header
    {
        .menu,
        .contacts,
        .langs
        {
            display: none;
        }


        .mob_menu_btn
        {
            display: flex;
        }
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        &.row
        {
            .col
            {
                width: 560px;
            }
        }
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        .bg
        {
            padding-block: 160px var(--cont_padding);
        }


        .title
        {
            width: 100%;
        }


        .desc
        {
            width: 100%;
            margin-top: var(--inner_gap_l);
        }


        .stats
        {
            margin-top: var(--block_padding);
        }


        .video
        {
            .icon
            {
                width: 80px;


                svg
                {
                    width: 24px;
                    height: 30px;
                }
            }
        }


        .pluses
        {
            position: relative;
            bottom: 0;

            margin-top: var(--block_padding_l);
            padding-inline: 0;


            .grid_row
            {
                --items_per_line: 1;
            }


            .item
            {
                min-height: 0;

                color: var(--dark_color);
                border: 1px solid var(--border_color);
                background: var(--light_color);


                .icon
                {
                    img
                    {
                        display: none;
                    }


                    img + img
                    {
                        display: block;
                    }
                }
            }
        }
    }



    /*-----------
        About
    -----------*/
    .about
    {
        margin-top: 0;
        padding-block: var(--outside_gap_s);


        .title
        {
            width: 100%;


            br
            {
                display: none;
            }
        }


        .desc
        {
            width: 100%;
        }
    }



    /*--------------
        Services
    --------------*/
    .services
    {
        .grid_row
        {
            --items_per_line: 2;
        }


        .action
        {
            width: 100%;
            margin-top: var(--block_padding_l);
        }
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        .data
        {
            width: 100%;
        }


        .items
        {
            width: 100%;
            margin-top: var(--inner_gap_l);
        }


        .stats
        {
            .grid_row
            {
                --items_per_line: 2;
                --gap_x: var(--inner_gap_l);
                --gap_y: var(--block_padding_l);
            }
        }


        .action
        {
            width: 100%;
            margin-top: var(--block_padding_l);
        }
    }



    /*-----------------
        Our clients
    -----------------*/
    .our_clients
    {
        .block_head
        {
            .desc
            {
                width: 324px;
            }
        }
    }



    /*-----------
        Steps
    -----------*/
    .steps
    {
        .block_head
        {
            position: static;
            top: 0;

            width: 100%;


            .pre_title
            {
                order: 0;

                margin-top: 0;
            }
        }


        .data
        {
            width: 100%;
        }
    }



    /*-------------
        Persons
    -------------*/
    .persons
    {
        .swiper
        {
            .swiper-slide
            {
                width: 340px;
            }
        }
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        .block_head
        {
            width: 100%;
            min-height: 0;
            margin-bottom: var(--block_head_offset);


            .pre_title
            {
                order: 0;

                margin-top: 0;
            }
        }



        .slider
        {
            width: 100%;
        }
    }



    /*-----------
        Certs
    -----------*/
    .certs
    {
        .grid_row.inline
        {
            & > *
            {
                width: 220px;
            }
        }
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-block: var(--outside_gap) var(--block_padding_l);


        .menu
        {
            width: 100%;
        }


        .contacts
        {
            width: 100%;
            margin-top: var(--block_padding_l);
            margin-left: 0;
        }


        .copyright
        {
            width: 100%;

            text-align: center;
        }


        .links
        {
            justify-content: center;

            width: 100%;
            margin-top: var(--inner_gap);

            text-align: center;
        }
    }
}
