/*------------------
    Alimony calc
------------------*/
.alimony_calc
{
    .cont
    {
        display: flex;
        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: var(--inner_gap_xl);
        row-gap: var(--inner_gap_s);
    }


    .data
    {
        position: relative;

        display: flex;
        overflow: hidden;
        flex-direction: column;
        gap: var(--block_padding);

        width: 541px;
        max-width: 100%;
        padding: var(--block_padding);

        color: var(--light_color);
        border-radius: var(--border_radius);
        background: linear-gradient(90deg, rgba(59, 191, 168, .20) 0%, rgba(59, 191, 168, .00) 100%), var(--secondary_color);


        & > *
        {
            position: relative;
            z-index: 3;
        }


        .block_head
        {
            width: calc(100% + 10px);


            .pre_title
            {
                order: 2;

                margin-top: var(--inner_gap);

                color: var(--light_color);
            }


            .title
            {
                color: var(--light_color);
            }


            .desc
            {
                width: 378px;

                color: #d9d9d9;
            }
        }


        .bottom
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_xs);

            margin-top: auto;
            padding: var(--inner_gap);

            border: 1px solid var(--border_color_secondary);
            border-radius: var(--border_radius_s);
            background: linear-gradient(315deg, var(--secondary_color) 9.34%, #194c4d 94.77%);


            .title
            {
                font-family: var(--font_family_secondary);
                font-size: var(--font_size_title_xs);
                font-weight: 600;
                line-height: 120%;
            }


            & > .desc
            {
                font-size: var(--font_size_l);
                line-height: 130%;
                letter-spacing: -.54px;
            }


            .action
            {
                margin-top: 18px;
                padding: 0;

                border-radius: 0;
                background: none;


                .info
                {
                    .desc
                    {
                        font-family: var(--font_family_tertiary);

                        color: #d9d9d9;
                    }
                }
            }
        }


        .image
        {
            position: absolute;
            z-index: 1;
            inset: 0;

            display: block;

            border-radius: var(--border_radius);


            &:before
            {
                position: absolute;
                inset: 0;

                display: block;

                content: '';

                background: linear-gradient(90deg, rgba(59, 191, 168, .20) 0%, rgba(59, 191, 168, .00) 100%);
            }
        }
    }


    .list
    {
        display: flex;
        flex-direction: column;
        gap: var(--inner_gap_s);

        width: calc(100% - 541px - var(--inner_gap_xl));


        .item
        {
            position: relative;

            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_m);

            padding: var(--inner_gap);

            border: 1px solid var(--border_color);
            border-radius: var(--border_radius);
            background: var(--bg_grey);


            & > *
            {
                position: relative;
                z-index: 3;
            }


            &:after
            {
                position: absolute;
                z-index: 1;
                top: -1px;
                right: -1px;

                display: block;

                width: 60px;

                content: '';
                pointer-events: none;

                background: url(../../../images/bg_before_action_corner.png) 0 0/100% 100% no-repeat, var(--bg);

                aspect-ratio: 1 / 1;
            }


            .icon
            {
                position: absolute;
                top: -1px;
                right: -1px;

                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;

                width: 46px;

                border-radius: 50%;
                background: var(--secondary_color);

                aspect-ratio: 1 / 1;


                img
                {
                    display: block;

                    max-width: 100%;
                    max-height: 100%;
                }
            }


            .name
            {
                max-width: calc(100% - 56px);

                font-family: var(--font_family_secondary);
                font-size: var(--font_size_title_xs);
                font-weight: 600;
                line-height: 110%;

                color: var(--secondary_color);
            }


            .desc
            {
                display: flex;
                flex-direction: column;
                gap: var(--inner_gap_m);

                max-width: calc(100% - 56px);

                font-size: var(--font_size_l);
                line-height: 135%;

                color: #2f2f2f;


                b,
                strong
                {
                    font-weight: 600;
                }


                ul
                {
                    & > li
                    {
                        position: relative;

                        display: block;
                        overflow: hidden;

                        padding-left: 20px;

                        list-style-type: none;


                        &:before
                        {
                            position: absolute;
                            top: .5lh;
                            left: 6px;

                            width: 4px;

                            content: '';
                            transform: translateY(-50%);

                            border-radius: 50%;
                            background: currentColor;

                            aspect-ratio: 1 / 1;
                        }
                    }
                }
            }


            .items
            {
                display: flex;
                align-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 7px;

                margin-top: 5px;


                & > *
                {
                    padding-block: 6px;
                    padding-inline: var(--inner_gap_xxs);

                    font-family: var(--font_family_tertiary);
                    font-size: var(--font_size_l);
                    line-height: 135%;

                    color: var(--grey_color_strong);
                    border: 1px solid var(--border_color);
                    border-radius: 10px;
                    background: var(--light_color);
                }
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .alimony_calc
    {
        .cont
        {
            column-gap: var(--inner_gap_s);
        }


        .data
        {
            gap: var(--inner_gap_xl);

            width: 430px;
            padding: var(--inner_gap_xl);


            .bottom
            {
                & > .desc
                {
                    font-size: var(--font_size);
                }


                .action
                {
                    flex-wrap: wrap;


                    .info
                    {
                        display: none;


                        .desc
                        {
                            br
                            {
                                display: none;
                            }
                        }
                    }


                    .whatsapp_link
                    {
                        width: 100%;

                        white-space: normal;
                    }
                }
            }
        }


        .list
        {
            width: calc(100% - 430px - var(--inner_gap_s));


            .item
            {
                .items
                {
                    gap: 4px;

                    margin-top: 4px;


                    & > *
                    {
                        font-size: var(--font_size);
                    }
                }


                .desc
                {
                    font-size: var(--font_size);
                }
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .alimony_calc
    {
        .data,
        .list
        {
            width: 100%;
        }
    }
}



@media (max-width: 767px)
{
    .alimony_calc
    {
        .data
        {
            gap: var(--inner_gap_l);

            padding: var(--inner_gap_l);


            .block_head
            {
                .pre_title
                {
                    order: 0;

                    margin-top: 0;
                }
            }


            .bottom
            {
                & > .desc
                {
                    font-size: 15px;
                }
            }
        }


        .list
        {
            .item
            {
                .items
                {
                    & > *
                    {
                        font-size: 15px;
                    }
                }


                .desc
                {
                    max-width: 100%;

                    font-size: 15px;
                }
            }
        }
    }
}
