/*-----------------------
    Approach changing
-----------------------*/
.approach_changing
{
    .block_head
    {
        &.row
        {
            .col
            {
                width: 986px;
            }

            .title
            {
                width: 861px;
            }
        }
    }


    .grid
    {
        display: grid;
        gap: var(--inner_gap_s);

        grid-template-columns: 541px auto;
    }


    .item
    {
        position: relative;

        display: flex;
        flex-direction: column;
        gap: var(--inner_gap);

        padding: var(--inner_gap_xl);

        border: 1px solid var(--border_color);
        border-radius: var(--border_radius_s);
        background: var(--light_color);


        &:nth-child(2)
        {
            &:after
            {
                width: 210px;
                height: 74px;

                background: url(../../../images/bg_approach_changing_corner2.png) 0 0/100% 100% no-repeat, var(--bg_grey);
            }
        }


        & > *
        {
            position: relative;
            z-index: 3;
        }


        &:after
        {
            position: absolute;
            top: -1px;
            right: -1px;

            display: block;

            width: 200px;
            height: 74px;

            content: '';
            pointer-events: none;

            background: url(../../../images/bg_approach_changing_corner1.png) 0 0/100% no-repeat, var(--bg_grey);
        }


        .label
        {
            position: absolute;
            top: -1px;
            right: -1px;

            padding-block: 6px;
            padding-inline: var(--inner_gap_s);

            line-height: 135%;

            color: var(--light_color);
            border-radius: 30px;
            background: linear-gradient(90deg, #194b4d 0%, #12333a 100%);
        }


        .title
        {
            width: 348px;
            max-width: 100%;

            font-family: var(--font_family_secondary);
            font-size: var(--font_size_title_xs);
            font-weight: 600;
            line-height: 110%;

            color: #10313d;


            &.l_w
            {
                width: calc(100% - 181px);
            }
        }


        ul
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_m);


            li
            {
                position: relative;

                display: block;

                padding-block: var(--inner_gap_m);
                padding-inline: 45px var(--inner_gap_s);

                font-family: var(--font_family_tertiary);
                font-size: var(--font_size_l);
                line-height: 135%;

                list-style: none;

                color: #2f2f2f;
                border: 1px solid var(--border_color);
                border-radius: var(--border_radius_s);
                background: var(--light_color);


                &:before
                {
                    position: absolute;
                    top: calc(var(--inner_gap_m) + .5lh);
                    left: var(--inner_gap_s);

                    display: block;

                    width: 19px;

                    content: '';
                    transform: translateY(-50%);

                    border-radius: 50%;
                    background: url(../../../images/ic_check_white.svg) 50% no-repeat, var(--secondary_color);

                    aspect-ratio: 1 / 1;
                }
            }
        }


        ol
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_m);

            counter-reset: li;


            li
            {
                position: relative;

                display: flex;
                flex-direction: column;
                gap: var(--inner_gap_m);

                padding-block: var(--inner_gap_m);
                padding-inline: var(--inner_gap_s);

                font-family: var(--font_family_tertiary);
                font-size: var(--font_size_l);
                line-height: 135%;

                list-style: none;

                color: #2f2f2f;
                border: 1px solid var(--border_color);
                border-radius: var(--border_radius_s);
                background: var(--light_color);


                .name
                {
                    position: relative;

                    padding-left: 35px;

                    font-weight: 600;

                    color: var(--secondary_color);


                    &:before
                    {
                        position: absolute;
                        top: 0;
                        left: 0;

                        display: flex;
                        align-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        justify-content: center;

                        width: 25px;

                        font-size: var(--font_size_s);
                        font-weight: 400;
                        line-height: 135%;

                        content: counter(li);
                        counter-increment: li;

                        color: var(--light_color);
                        border-radius: 50%;
                        background: var(--secondary_color);

                        aspect-ratio: 1 / 1;
                    }
                }
            }
        }


        .desc
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_m);

            font-family: var(--font_family_tertiary);
            font-size: var(--font_size_l);
            line-height: 135%;

            color: var(--secondary_color);


            b,
            strong
            {
                font-weight: 500;

                color: #2f2f2f;
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .approach_changing
    {
        .block_head
        {
            &.row
            {
                .col
                {
                    width: 700px;
                }
            }
        }


        .grid
        {
            grid-template-columns: 430px auto;
        }


        .item
        {
            padding-block: 48px var(--inner_gap_l);
            padding-inline: var(--inner_gap_l);


            &:after
            {
                width: 178px;
                height: 64px;
            }


            &:nth-child(2)
            {
                &:after
                {
                    width: 188px;
                    height: 64px;
                }
            }


            .label
            {
                font-size: var(--font_size_s);
            }


            ul,
            ol
            {
                li
                {
                    font-size: var(--font_size);
                }
            }


            .desc
            {
                font-size: var(--font_size);
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .approach_changing
    {
        .block_head
        {
            &.row
            {
                .col
                {
                    width: 480px;
                }
            }
        }


        .grid
        {
            grid-template-columns: auto;
        }


        .item
        {
            padding-block: var(--inner_gap_l);
        }
    }
}



@media (max-width: 767px)
{
    .approach_changing
    {
        .block_head
        {
            &.row
            {
                .col
                {
                    width: 100%;
                }
            }
        }


        .item
        {
            padding-block: 48px var(--inner_gap);
            padding-inline: var(--inner_gap);


            .title
            {
                &,
                &.l_w
                {
                    width: 100%;
                    max-width: 100%;
                }
            }


            ul,
            ol
            {
                li
                {
                    font-size: 15px;
                }
            }


            .desc
            {
                font-size: 15px;
            }
        }
    }
}
