/*----------------
    Directions
----------------*/
.directions
{
    .block_head
    {
        &.row
        {
            .title
            {
                width: 588px;


                &.l_w
                {
                    width: 706px;
                }
            }


            .desc
            {
                width: 875px;
            }
        }
    }


    .grid_row
    {
        --items_per_line: 2;
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
    }


    .item
    {
        display: flex;
        flex-direction: column;


        .name
        {
            width: fit-content;
            min-width: 461px;
            max-width: 100%;
            margin-bottom: -102px;
            padding-block: var(--inner_gap_xxs) 110px;
            padding-inline: var(--inner_gap_l) var(--inner_gap_xl);

            font-family: var(--font_family_secondary);
            font-size: var(--font_size_title_xs);
            font-weight: 600;
            line-height: 110%;

            color: var(--light_color);
            border: 1px solid var(--border_color);
            border-radius: var(--border_radius);
            background: linear-gradient(270deg, var(--secondary_color) -4.95%, #194c4d 98.47%);
        }


        .row
        {
            display: flex;
            align-content: stretch;
            align-items: stretch;
            flex: 1 0 auto;
            flex-wrap: wrap;
            justify-content: flex-start;
        }


        .data
        {
            position: relative;
            z-index: 3;

            display: flex;
            flex-direction: column;
            gap: var(--inner_gap);

            width: calc(100% - 182px);
            padding-block: var(--inner_gap_l) var(--inner_gap_xl);
            padding-inline: var(--inner_gap_l);

            border: 1px solid var(--border_color);
            border-radius: 20px;
            background: var(--bg_grey);


            &.primary
            {
                background: linear-gradient(291deg, #12353b 6.12%, #194c4d 85.19%);
            }


            .desc
            {
                display: flex;
                flex-direction: column;
                gap: var(--inner_gap);

                font-family: var(--font_family_tertiary);
                font-size: var(--font_size_l);
                line-height: 135%;

                color: var(--grey_color_strong);


                .primary &
                {
                    color: #b8c0c1;
                }
            }


            .for_whom
            {
                display: flex;
                flex-direction: column;
                gap: var(--inner_gap_m);


                .label
                {
                    font-family: var(--font_family_tertiary);
                    font-size: var(--font_size_l);
                    font-weight: 700;
                    line-height: 135%;

                    color: var(--secondary_color);


                    .primary &
                    {
                        color: var(--light_color);
                    }
                }


                .item
                {
                    position: relative;

                    padding-left: 20px;

                    font-family: var(--font_family_tertiary);
                    font-size: var(--font_size_l);
                    line-height: 135%;

                    color: var(--grey_color_strong);


                    .primary &
                    {
                        color: #b8c0c1;


                        &:before
                        {
                            background-image: url(../../../images/ic_check_white.svg);
                        }
                    }


                    &:before
                    {
                        position: absolute;
                        top: .5lh;
                        left: 0;

                        display: block;

                        width: 9px;
                        height: 7px;

                        content: '';
                        transform: translateY(-50%);

                        background: url(../../../images/ic_check.svg) 0 0/100% 100% no-repeat;
                    }
                }
            }


            .link
            {
                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;

                width: fit-content;
                height: 60px;
                margin-top: auto;
                padding-inline: var(--inner_gap_xl);

                font-family: var(--font_family_secondary);
                font-size: var(--font_size_l);
                font-weight: 500;
                line-height: 130%;
                letter-spacing: -.36px;

                text-align: center;
                text-decoration: none;

                color: var(--secondary_color);
                border-radius: var(--border_radius_l);
                background: var(--primary_color);
            }
        }


        .image
        {
            position: relative;
            z-index: 3;

            display: block;

            width: 182px;
            max-width: 100%;

            border: 1px solid var(--border_color);
            border-radius: var(--border_radius);
            background: var(--bg_grey);
        }
    }


    .action
    {
        .info
        {
            width: 430px;


            &.l_w
            {
                width: 640px;
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .directions
    {
        .block_head
        {
            &.row
            {
                .title
                {
                    width: 480px;


                    &.l_w
                    {
                        width: 580px;
                    }
                }


                .desc
                {
                    width: 568px;
                }
            }
        }


        .grid_row
        {
            --items_per_line: 2;
        }


        .item
        {
            .name
            {
                margin-bottom: -98px;
                padding-block: var(--inner_gap_xs) 110px;
            }


            .data
            {
                padding: var(--inner_gap_l);


                .desc
                {
                    font-size: var(--font_size);
                }


                .for_whom
                {
                    .label,
                    .item
                    {
                        font-size: var(--font_size);
                    }
                }


                .link
                {
                    height: 56px;

                    font-size: var(--font_size);
                }
            }
        }


        .action
        {
            .info
            {
                width: 360px;


                &.l_w
                {
                    width: 568px;
                }
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .directions
    {
        .block_head
        {
            &.row
            {
                .desc
                {
                    width: 460px;
                }
            }
        }


        .grid_row
        {
            --items_per_line: 1;
        }
    }
}



@media (max-width: 767px)
{
    .directions
    {
        .block_head
        {
            &.row
            {
                .title
                {
                    &,
                    &.l_w
                    {
                        width: 100%;
                    }
                }


                .desc
                {
                    width: 100%;
                }
            }
        }


        .item
        {
            .name
            {
                width: 100%;
                min-width: 0;
                padding-inline: var(--inner_gap);
            }


            .data
            {
                width: 100%;
                padding-block: var(--inner_gap) calc(var(--block_padding_l) + var(--inner_gap));
                padding-inline: var(--inner_gap);


                .desc
                {
                    font-size: 15px;
                }


                .for_whom
                {
                    .label,
                    .item
                    {
                        font-size: 15px;
                    }
                }


                .link
                {
                    width: 100%;
                }
            }


            .image
            {
                width: 100%;
                margin-top: -32px;

                aspect-ratio: 1 / .607;
            }
        }
    }
}
