/*---------------
    Documents
---------------*/
.documents
{
    .block_head
    {
        &.row
        {
            .title
            {
                width: 587px;
            }


            .desc
            {
                width: 726px;
            }
        }
    }


    .grid_row
    {
        --items_per_line: 2;
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .item
    {
        display: flex;
        flex-direction: column;


        .name
        {
            width: fit-content;
            margin-bottom: -102px;
            padding-block: var(--inner_gap_xxs) 110px;
            padding-inline: var(--inner_gap_l);

            font-family: var(--font_family_secondary);
            font-size: var(--font_size_title_xs);
            font-weight: 600;
            font-style: normal;
            line-height: 110%;

            color: var(--light_color);
            border: 1px solid var(--border_color);
            border-radius: var(--border_radius_s);
            background: linear-gradient(270deg, var(--secondary_color) -4.95%, #194c4d 98.47%);
        }


        .info
        {
            position: relative;

            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            gap: var(--inner_gap_s);

            padding: var(--inner_gap_l);

            font-size: var(--font_size_l);
            line-height: 135%;

            color: var(--secondary_color);
            border: 1px solid var(--border_color);
            border-radius: var(--border_radius);
            background: var(--light_color);


            & > *
            {
                position: relative;

                padding-left: 28px;


                &:before
                {
                    position: absolute;
                    top: .5lh;
                    left: 0;

                    display: block;

                    width: 9px;
                    height: 7px;

                    content: '';
                    transform: translateY(-50%);

                    background: url(../images/ic_check.svg) 0 0/100% 100% no-repeat;
                }
            }
        }
    }


    .exp
    {
        margin-top: var(--inner_gap_s);
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap_l);

        font-size: var(--font_size_l);
        line-height: 135%;

        color: #343434;
        border: 1px solid var(--border_color);
        border-radius: var(--border_radius);
        background: var(--light_color);
    }


    .text_block
    {
        margin-top: 36px;

        font-size: var(--font_size_l);
        line-height: 135%;

        color: #343434;
    }


    .action
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--inner_gap_xl);

        width: fit-content;
        margin-top: var(--block_padding);
        padding-block: var(--inner_gap_m);
        padding-inline: 34px var(--inner_gap_m);

        color: var(--light_color);
        border-radius: var(--border_radius_max);
        background: var(--secondary_color);


        .label
        {
            width: 470px;
            max-width: calc(100% - 281px - var(--inner_gap_xl));

            font-family: var(--font_family_tertiary);
            font-size: var(--font_size_l);
            line-height: 135%;
        }


        .whatsapp_link
        {
            position: relative;

            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;

            min-height: 60px;
            padding-block: 6px;
            padding-inline: 60px var(--inner_gap_s);

            font-size: var(--font_size_l);
            font-weight: 500;
            line-height: 130%;
            letter-spacing: -.36px;

            text-decoration: none;

            color: var(--secondary_color);
            border-radius: var(--border_radius_max);
            background: var(--primary_color);


            .icon
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 6px;

                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;

                width: 48px;
                min-width: 48px;
                height: 48px;
                margin-block: auto;

                transition: .2s linear;

                color: var(--primary_color);
                border-radius: 50%;
                background: var(--secondary_color);


                svg
                {
                    display: block;

                    width: 16px;
                    height: 16px;
                }
            }


            span
            {
                margin-inline: auto;
                padding-inline: var(--inner_gap_xxs);

                transition: transform .2s linear;
            }


            @media (hover: hover) and (pointer: fine)
            {
                &:hover
                {
                    .icon
                    {
                        left: calc(100% - 54px);

                        transform: rotate(360deg);
                    }


                    span
                    {
                        transform: translateX(-54px);
                    }
                }
            }
        }
    }
}