/*---------------
    Documents
---------------*/
.documents
{
    .block_head
    {
        &.row
        {
            .title
            {
                width: 587px;
            }


            .desc
            {
                width: 726px;
            }
        }
    }


    .grid_row
    {
        --items_per_line: 2;
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .item
    {
        display: flex;
        flex-direction: column;


        .name
        {
            width: fit-content;
            margin-bottom: -102px;
            padding-block: var(--inner_gap_xxs) 110px;
            padding-inline: var(--inner_gap_l);

            font-family: var(--font_family_secondary);
            font-size: var(--font_size_title_xs);
            font-weight: 600;
            font-style: normal;
            line-height: 110%;

            color: var(--light_color);
            border: 1px solid var(--border_color);
            border-radius: var(--border_radius_s);
            background: linear-gradient(270deg, var(--secondary_color) -4.95%, #194c4d 98.47%);
        }


        .info
        {
            position: relative;

            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            gap: var(--inner_gap_s);

            padding: var(--inner_gap_l);

            font-size: var(--font_size_l);
            line-height: 135%;

            color: var(--secondary_color);
            border: 1px solid var(--border_color);
            border-radius: var(--border_radius);
            background: var(--light_color);


            & > *
            {
                position: relative;

                padding-left: 28px;


                &:before
                {
                    position: absolute;
                    top: .5lh;
                    left: 0;

                    display: block;

                    width: 9px;
                    height: 7px;

                    content: '';
                    transform: translateY(-50%);

                    background: url(../../../images/ic_check.svg) 0 0/100% 100% no-repeat;
                }
            }
        }
    }


    .exp
    {
        margin-top: var(--inner_gap_s);
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap_l);

        font-size: var(--font_size_l);
        line-height: 135%;

        color: #343434;
        border: 1px solid var(--border_color);
        border-radius: var(--border_radius);
        background: var(--light_color);
    }


    .text_block
    {
        margin-top: 36px;

        font-size: var(--font_size_l);
        line-height: 135%;

        color: #343434;
    }
}



@media print,
(max-width: 1279px)
{
    .documents
    {
        .block_head
        {
            &.row
            {
                .title
                {
                    width: 500px;
                }


                .desc
                {
                    width: 680px;
                }
            }
        }


        .item
        {
            .info
            {
                font-size: var(--font_size);
            }
        }


        .exp
        {
            padding-inline: var(--inner_gap);

            font-size: var(--font_size);
        }


        .text_block
        {
            margin-top: var(--inner_gap_xl);

            font-size: var(--font_size);
        }
    }
}



@media print,
(max-width: 1023px)
{
    .documents
    {
        .block_head
        {
            &.row
            {
                .title
                {
                    width: 480px;
                }


                .desc
                {
                    width: 540px;
                }
            }
        }


        .grid_row
        {
            --items_per_line: 1;
        }
    }
}



@media (max-width: 767px)
{
    .documents
    {
        .block_head
        {
            &.row
            {
                .title,
                .desc
                {
                    width: 100%;
                }
            }
        }


        .item
        {
            .name
            {
                padding-inline: var(--inner_gap);
            }


            .info
            {
                padding: var(--inner_gap);

                font-size: 15px;


                & > *
                {
                    padding-left: 24px;
                }
            }
        }


        .exp,
        .text_block
        {
            font-size: 15px;
        }
    }
}
