/*---------
    FAQ
---------*/
.FAQ
{
    .block_head
    {
        &.row
        {
            .col
            {
                width: 620px;


                &.l_w
                {
                    width: 986px;
                }
            }


            .desc
            {
                font-family: var(--font_family_tertiary);
            }
        }
    }


    .bottom
    {
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--inner_gap);

        margin-top: var(--block_padding_l);

        font-family: var(--font_family_tertiary);
        font-size: var(--font_size_l);
        line-height: 135%;

        color: #7d7d7d;


        .last_update
        {
            &.s_w
            {
                width: 275px;
                max-width: 100%;

                text-align: right;
            }
        }


        a
        {
            text-decoration: none;

            color: currentColor;
            border-bottom: 1px solid;
        }
    }
}



@media print,
(max-width: 1279px)
{
    .FAQ
    {
        .bottom
        {
            font-size: var(--font_size);
        }
    }
}



@media (max-width: 767px)
{
    .FAQ
    {
        .bottom
        {
            font-size: 15px;
        }


        .last_update
        {
            &.s_w
            {
                width: 100%;

                text-align: left;
            }
        }
    }
}
