/*---------
    FAQ
---------*/
.FAQ
{
    .block_head
    {
        &.row
        {
            .col
            {
                width: 620px;


                &.l_w
                {
                    width: 986px;
                }
            }


            .desc
            {
                font-family: var(--font_family_tertiary);
            }
        }
    }


    .bottom
    {
        margin-top: var(--block_padding_l);

        font-family: var(--font_family_tertiary);
        font-size: var(--font_size_l);
        line-height: 135%;

        color: #7d7d7d;


        .grid_row
        {
            --items_per_line: 2;
            --gap_x: var(--inner_gap_s);
            --gap_y: var(--inner_gap_s);
        }


        .text
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap);


            &.small
            {
                font-size: var(--font_size_s);
            }


            &.dark
            {
                color: var(--grey_color_strong);
            }
        }


        .last_update
        {
            align-self: flex-end;

            text-align: right;
        }


        a
        {
            text-decoration: none;

            color: currentColor;
            border-bottom: 1px solid;
        }
    }
}



@media print,
(max-width: 1279px)
{
    .FAQ
    {
        .bottom
        {
            font-size: var(--font_size);
        }
    }
}



@media (max-width: 767px)
{
    .FAQ
    {
        .bottom
        {
            font-size: 15px;


            .grid_row
            {
                --items_per_line: 1;
            }


            .last_update
            {
                text-align: left;


                br
                {
                    display: none;
                }
            }
        }
    }
}
