/*------------------
    How it works
------------------*/
.how_it_works
{
    overflow: clip;


    &:after
    {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;

        display: block;

        width: 798px;
        height: 916px;

        content: '';
        transform: translate(-1230px, -33.188%);
        pointer-events: none;

        border-radius: 916px;
        background: rgba(59, 191, 168, .20);

        filter: blur(200px);
    }


    .cont
    {
        position: relative;
        z-index: 3;
    }


    .block_head
    {
        gap: var(--inner_gap);

        padding-bottom: var(--inner_gap_m);


        .pre_title
        {
            margin-bottom: var(--inner_gap_xxs);

            color: var(--light_color);
        }


        .title
        {
            width: 1167px;

            color: var(--light_color);
        }


        .desc
        {
            width: 664px;

            font-family: var(--font_family_tertiary);

            color: var(--light_color);
        }
    }


    .row
    {
        display: flex;
        align-content: stretch;
        align-items: stretch;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: var(--inner_gap_m);

        counter-reset: number;
    }


    .item
    {
        display: flex;
        flex-direction: column;
        gap: var(--inner_gap_xl);

        width: 308px;
        min-width: 308px;
        max-width: 100%;


        &.s_w
        {
            width: 290px;
            min-width: 290px;
        }


        &.l_w
        {
            width: 100%;
        }


        &:last-child
        {
            .number
            {
                &:before
                {
                    display: none;
                }
            }
        }


        .number
        {
            position: relative;


            &:before
            {
                position: absolute;
                z-index: 1;
                top: 0;
                bottom: 0;
                left: 0;

                display: block;

                width: calc(100% + var(--inner_gap_m));
                height: 5px;
                margin-block: auto;

                content: '';
                pointer-events: none;

                background: #2e5760;
            }


            .text
            {
                position: relative;
                z-index: 3;

                display: block;

                width: fit-content;
                padding-block: 6px;
                padding-inline: var(--inner_gap_s);

                font-size: var(--font_size_l);
                line-height: 135%;

                color: #10313d;
                border: 1px solid #2e5760;
                border-radius: 30px;
                background: #f5f6f7;


                span
                {
                    &:before
                    {
                        content: counter(number);
                        counter-increment: number;
                    }
                }
            }
        }


        .info
        {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            gap: var(--inner_gap_s);

            padding: var(--inner_gap);

            border: 1px solid #296668;
            border-radius: var(--border_radius_s);
            background: linear-gradient(315deg, var(--secondary_color) 9.34%, #194c4d 94.77%);
        }


        .name
        {
            font-family: var(--font_family_secondary);
            font-size: var(--font_size_title_xs);
            font-weight: 600;
            line-height: 120%;
        }


        .desc
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_s);

            width: 316px;
            max-width: 100%;

            font-size: var(--font_size_l);
            line-height: 135%;


            small
            {
                font-size: var(--font_size_s);
                line-height: 135%;

                color: #c8c8c8;
            }
        }
    }


    .data
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--block_padding);

        margin-top: var(--block_padding_l);


        .block_head
        {
            gap: var(--inner_gap_l);

            width: 405px;
            max-width: 100%;
            margin: 0;
            padding: 0;


            .title
            {
                font-size: 30px;
                font-weight: 600;
                line-height: 110%;
            }


            .desc
            {
                width: 366px;
            }
        }


        .info
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_xl);

            width: calc(100% - 405px - var(--block_padding));


            .title
            {
                font-family: var(--font_family_secondary);
                font-size: var(--font_size_title_xs);
                font-weight: 600;
                line-height: 110%;
            }


            .items
            {
                display: flex;
                align-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: var(--inner_gap_xxs);

                font-family: var(--font_family_tertiary);
                font-size: var(--font_size_l);
                line-height: 135%;


                & > *
                {
                    padding-block: var(--inner_gap_m);
                    padding-inline: var(--inner_gap_xs);

                    border: 1px solid #296668;
                    border-radius: var(--border_radius_xs);
                    background: var(--secondary_color);
                }
            }
        }
    }


    .action
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--inner_gap_xl);

        margin-top: var(--block_padding_l);

        color: var(--light_color);


        .label
        {
            width: 788px;
            max-width: calc(100% - 353px - var(--inner_gap_xl));

            font-family: var(--font_family_tertiary);
            font-size: var(--font_size_l);
            line-height: 135%;

            color: #c8c8c8;
        }


        .btn
        {
            min-height: 60px;
            padding-inline: var(--inner_gap_xl);

            font-size: var(--font_size_l);
            font-weight: 500;
            line-height: 130%;
            letter-spacing: -.36px;

            transition: .2s linear;

            color: var(--secondary_color);
            border-radius: var(--border_radius_max);
            background: var(--primary_color);


            @media (hover: hover) and (pointer: fine)
            {
                &:hover
                {
                    transform: scale(1.02);

                    background: #e7f7bb;
                }
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .how_it_works
    {
        .row
        {
            display: grid;
            overflow: auto;
            gap: var(--inner_gap_s);

            width: calc(100% + var(--cont_padding_double));
            margin-block: 0;
            margin-inline: calc(var(--cont_padding) * -1);
            padding-inline: var(--cont_padding);

            grid-auto-flow: column;
            grid-auto-columns: max-content;
            scroll-padding: 0 var(--cont_padding);
            scroll-snap-type: x mandatory;
            scrollbar-color: transparent transparent;
            scrollbar-width: thin;


            &::-webkit-scrollbar
            {
                display: none;

                width: 0;
                height: 0;

                background-color: transparent;
            }


            &::-webkit-scrollbar-thumb
            {
                background-color: transparent;
            }


            & > *
            {
                margin: 0;

                scroll-snap-align: start;
            }
        }


        .item
        {
            gap: var(--inner_gap_l);


            .number
            {
                .text
                {
                    font-size: var(--font_size);
                }
            }


            .desc
            {
                font-size: var(--font_size);


                small
                {
                    font-size: var(--font_size_xs);
                }
            }
        }


        .data
        {
            .block_head
            {
                width: 100%;


                .title
                {
                    font-size: 28px;
                }


                .desc
                {
                    width: 100%;
                }
            }


            .info
            {
                gap: var(--inner_gap_l);

                width: 100%;


                .items
                {
                    font-size: var(--font_size);


                    & > *
                    {
                        padding-block: var(--inner_gap_xxs);
                        padding-inline: var(--inner_gap_s);
                    }
                }
            }
        }


        .action
        {
            gap: var(--inner_gap_l);

            margin-top: var(--block_padding);


            .label
            {
                max-width: calc(100% - 308px - var(--inner_gap_l));

                font-size: var(--font_size);
            }


            .btn
            {
                min-height: 56px;
                padding-inline: var(--inner_gap_l);

                font-size: var(--font_size);
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .how_it_works
    {
        .action
        {
            margin-top: var(--block_padding_l);
        }
    }
}



@media (max-width: 767px)
{
    .how_it_works
    {
        .item
        {
            &,
            &.l_w
            {
                width: 286px;
                min-width: 0;
            }


            .desc
            {
                font-size: 15px;
            }
        }


        .data
        {
            .block_head
            {
                .title
                {
                    font-size: var(--font_size_title);
                }


                .desc
                {
                    font-size: 15px;
                }
            }


            .info
            {
                .items
                {
                    font-size: 15px;
                }
            }
        }


        .action
        {
            .label
            {
                width: 100%;
                max-width: 100%;

                font-size: 15px;
                line-height: 140%;

                text-align: center;

                color: var(--light_color);


                br
                {
                    display: none;
                }
            }


            .btn
            {
                width: 100%;
            }
        }
    }
}
