/*--------------------
    Important know
--------------------*/
.important_know
{
    .block_head
    {
        &.row
        {
            .col
            {
                gap: var(--inner_gap_l);
            }


            .title
            {
                width: 601px;


                &.l_w
                {
                    width: 100%;
                }
            }


            .desc
            {
                width: 568px;
            }
        }
    }


    .grid_row
    {
        counter-reset: number;

        --items_per_line: 2;
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
    }


    .item
    {
        position: relative;


        &.m_w
        {
            width: 541px;
            max-width: calc(100% - var(--gap_x));
        }


        &.l_w
        {
            width: calc(100% - 541px - var(--gap_x) * 2);
        }


        .image
        {
            position: absolute;
            z-index: 5;
            top: -1px;
            left: -1px;

            display: block;

            width: 319px;
            max-width: calc(100% + 2px);
            height: calc(100% + 2px);

            border-radius: var(--border_radius_s);
            background: var(--bg_grey);


            &.s_w
            {
                width: 225px;
            }


            &.right
            {
                right: 0;
                left: auto;
            }
        }


        .info
        {
            position: relative;

            display: flex;
            overflow: hidden;
            flex-direction: column;
            gap: var(--inner_gap);

            height: 100%;
            padding: var(--inner_gap_l);

            border: 1px solid var(--border_color);
            border-radius: var(--border_radius_s);
            background: var(--light_color);


            .l_w &
            {
                width: calc(100% - 223px);
                padding-right: 115px;


                &.l_w
                {
                    width: 100%;
                    padding-right: 245px;
                }


                &.right
                {
                    margin-left: auto;
                    padding-right: var(--inner_gap_l);
                    padding-left: 115px;


                    &.l_w
                    {
                        padding-left: 245px;
                    }
                }
            }


            & > *
            {
                position: relative;
                z-index: 3;
            }


            &:before
            {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;

                display: block;

                width: 753px;
                height: 365px;

                content: '';
                transform: translate(-55.777%, -49.863%);

                border-radius: 753px;
                background: rgba(221, 5, 5, .15);

                filter: blur(100px);
            }


            &:after
            {
                position: absolute;
                z-index: 1;
                right: 0;
                bottom: 0;

                display: block;

                width: 753px;
                height: 365px;

                content: '';
                transform: translate(20.451%, 47.123%);

                border-radius: 753px;
                background: rgba(59, 191, 168, .20);

                filter: blur(100px);
            }


            .blur1
            {
                position: absolute;
                z-index: 1;
                right: 0;
                bottom: 100%;

                display: block;

                width: 875px;
                height: 275px;

                content: '';
                transform: translate(-8.8%, 9.818%);

                border-radius: 875px;
                background: rgba(221, 5, 5, .2);

                filter: blur(100px);
            }


            .blur2
            {
                position: absolute;
                z-index: 1;
                right: 0;
                bottom: 0;

                width: 1212px;
                height: 365px;

                transform: translate(15.016%, 85.47%);

                border-radius: 1212px;
                background: rgba(59, 191, 168, .20);

                filter: blur(100px);
            }
        }


        .icon
        {
            position: absolute;
            top: var(--inner_gap_l);
            right: var(--inner_gap_l);

            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: 50px;

            border: 1px solid var(--border_color);
            border-radius: 5px;
            background: var(--light_color);

            aspect-ratio: 1 / 1;


            img
            {
                display: block;

                max-width: 100%;
                max-height: 100%;
            }
        }


        .name
        {
            width: calc(100% - 50px - var(--inner_gap_l));
            max-width: 100%;

            font-family: var(--font_family_secondary);
            font-size: var(--font_size_title_xs);
            font-weight: 600;
            line-height: 120%;

            color: var(--secondary_color);


            .l_w &
            {
                width: 100%;
            }


            &.s_w
            {
                width: 355px;
            }


            .number
            {
                white-space: nowrap;

                color: #296668;


                &:before
                {
                    content: counter(number, decimal-leading-zero) '/';
                    counter-increment: number;
                }
            }
        }


        .risk
        {
            .label
            {
                margin-bottom: 3px;

                font-size: var(--font_size_l);
                font-weight: 600;
                line-height: 135%;

                color: #dd0505;
            }


            .desc
            {
                font-size: var(--font_size_l);
                line-height: 135%;

                color: #3e3e3e;
            }
        }


        .reducing
        {
            margin-top: auto;
            padding: var(--inner_gap);

            border: 1px solid var(--border_color);
            border-radius: var(--border_radius_xs);
            background: var(--light_color);


            .label
            {
                margin-bottom: 4px;

                font-size: var(--font_size_l);
                font-weight: 600;
                line-height: 135%;

                color: var(--secondary_color);
            }


            .desc
            {
                font-size: var(--font_size_l);
                line-height: 135%;

                color: #3e3e3e;
            }
        }
    }


    .action
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--inner_gap_xl);

        width: fit-content;
        margin-top: var(--block_padding_l);
        padding-block: var(--inner_gap_m);
        padding-inline: 34px var(--inner_gap_m);

        color: var(--light_color);
        border-radius: var(--border_radius_max);
        background: var(--secondary_color);


        &.view2
        {
            flex-wrap: nowrap;
            gap: var(--block_padding);

            width: 100%;
            padding: var(--inner_gap_l);

            border-radius: var(--border_radius);


            .label
            {
                width: 700px;
                max-width: 100%;
            }
        }


        .label
        {
            width: 431px;
            max-width: calc(100% - 281px - var(--inner_gap_xl));

            font-family: var(--font_family_tertiary);
            font-size: var(--font_size_l);
            line-height: 135%;
        }


        .whatsapp_link
        {
            position: relative;

            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;

            min-height: 60px;
            padding-block: 6px;
            padding-inline: 60px var(--inner_gap_s);

            font-size: var(--font_size_l);
            font-weight: 500;
            line-height: 130%;
            letter-spacing: -.36px;

            text-decoration: none;

            color: var(--secondary_color);
            border-radius: var(--border_radius_max);
            background: var(--primary_color);


            .icon
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 6px;

                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;

                width: 48px;
                min-width: 48px;
                height: 48px;
                margin-block: auto;

                transition: .2s linear;

                color: var(--primary_color);
                border-radius: 50%;
                background: var(--secondary_color);


                svg
                {
                    display: block;

                    width: 16px;
                    height: 16px;
                }
            }


            span
            {
                margin-inline: auto;
                padding-inline: var(--inner_gap_xxs);

                transition: transform .2s linear;
            }


            @media (hover: hover) and (pointer: fine)
            {
                &:hover
                {
                    .icon
                    {
                        left: calc(100% - 54px);

                        transform: rotate(360deg);
                    }


                    span
                    {
                        transform: translateX(-54px);
                    }
                }
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .important_know
    {
        .block_head
        {
            &.row
            {
                .title
                {
                    width: 600px;
                }


                .desc
                {
                    width: 400px;
                }
            }
        }


        .item
        {
            &.l_w
            {
                width: calc(100% - 400px - var(--gap_x) * 2);
            }


            &.m_w
            {
                width: 400px;
            }


            .image
            {
                width: 189px;
            }


            .info
            {
                padding: var(--inner_gap);


                .l_w &
                {
                    width: calc(100% - 168px);
                    padding-right: 40px;


                    &.right
                    {
                        padding-right: var(--inner_gap);
                        padding-left: 40px;
                    }
                }
            }


            .icon
            {
                top: var(--inner_gap);
                right: var(--inner_gap);

                width: 48px;
                padding: 2px;
            }


            .risk
            {
                .label,
                .desc
                {
                    font-size: var(--font_size);
                }
            }


            .reducing
            {
                .label,
                .desc
                {
                    font-size: var(--font_size);
                }
            }
        }


        .action
        {
            gap: var(--inner_gap_l);

            margin-top: var(--block_padding);
            padding-block: var(--inner_gap_xxs);
            padding-inline: var(--block_padding) var(--inner_gap_xxs);


            .label
            {
                width: 360px;
                max-width: calc(100% - 246px - var(--inner_gap_xl));

                font-size: var(--font_size);
            }


            .whatsapp_link
            {
                min-height: 56px;
                padding-inline: 64px var(--inner_gap_s);

                font-size: var(--font_size);


                .icon
                {
                    width: 46px;
                    min-width: 46px;
                    height: 46px;
                }


                span
                {
                    padding-inline: 0;
                }
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .important_know
    {
        .block_head
        {
            &.row
            {
                .col
                {
                    width: 500px;
                }


                .title
                {
                    width: 100%;
                }
            }
        }


        .item
        {
            &.m_w,
            &.l_w
            {
                width: calc(100% / var(--items_per_line) * var(--width_multiplier, 1) - var(--gap_x));

                --width_multiplier: 2;
            }


            .name
            {
                br
                {
                    display: none;
                }
            }
        }


        .action
        {
            width: 100%;
            margin-top: var(--block_padding_l);
        }
    }
}



@media (max-width: 767px)
{
    .important_know
    {
        .block_head
        {
            &.row
            {
                .col,
                .desc
                {
                    width: 100%;
                }
            }
        }


        .grid_row
        {
            --items_per_line: 1;
        }


        .item
        {
            .info
            {
                height: auto;


                .l_w &
                {
                    width: 100%;
                    padding-inline: var(--inner_gap);


                    &.right
                    {
                        padding-inline: var(--inner_gap);
                    }
                }
            }


            .icon
            {
                width: 40px;
                padding: 10px;
            }


            .image
            {
                position: relative;

                width: 100%;
                height: 198px;
            }


            .risk
            {
                .label,
                .desc
                {
                    font-size: 15px;
                }
            }


            .reducing
            {
                padding: var(--inner_gap_s);


                .label,
                .desc
                {
                    font-size: 15px;
                }
            }
        }


        .action
        {
            padding: var(--inner_gap);

            border-radius: var(--border_radius);


            .label
            {
                width: 100%;
                max-width: 100%;

                font-size: var(--font_size_l);
                line-height: 140%;

                text-align: center;


                br
                {
                    display: none;
                }
            }


            .whatsapp_link
            {
                width: 100%;
            }
        }
    }
}

