/*-----------------------
    Parents agreement
-----------------------*/
.parents_agreement
{
    .grid
    {
        display: grid;
        gap: var(--inner_gap_s);

        grid-template-columns: 541px 1fr;


        & > .info
        {
            position: relative;

            display: flex;
            flex-direction: column;
            gap: var(--inner_gap);

            padding: var(--inner_gap_xl);

            border: 1px solid var(--border_color);
            border-radius: var(--border_radius);
            background: var(--bg);
        }
    }


    .info
    {
        .icon
        {
            position: absolute;
            z-index: 3;
            top: var(--inner_gap);
            right: var(--inner_gap);

            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: 50px;

            border: 1px solid var(--border_color);
            border-radius: var(--border_radius_xs);
            background: var(--bg_grey);

            aspect-ratio: 1 / 1;


            img
            {
                display: block;

                max-width: 100%;
                max-height: 100%;
            }
        }


        .title
        {
            width: calc(100% - 70px);

            font-family: var(--font_family_secondary);
            font-size: var(--font_size_title_xs);
            font-weight: 600;
            line-height: 110%;

            color: var(--secondary_color);
        }


        .desc
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_m);

            width: 428px;
            max-width: 100%;

            font-family: var(--font_family_tertiary);
            font-size: var(--font_size_l);
            line-height: 135%;

            color: var(--secondary_color);
        }


        .exp
        {
            width: 441px;
            max-width: 100%;
            margin-top: auto;
            padding-left: var(--inner_gap);

            font-family: var(--font_family_tertiary);
            font-size: var(--font_size_l);
            font-weight: 500;
            line-height: 135%;

            color: var(--secondary_color);
            border-left: 3px solid var(--primary_color);
        }
    }


    .data
    {
        display: flex;
        flex-direction: column;
        gap: var(--inner_gap);

        padding: var(--inner_gap_xl);

        color: var(--light_color);
        border: 1px solid var(--border_color);
        border-radius: var(--border_radius);
        background: linear-gradient(315deg, var(--secondary_color) 9.34%, #194c4d 94.77%);


        .title
        {
            font-family: var(--font_family_secondary);
            font-size: var(--font_size_title_xs);
            font-weight: 600;
            line-height: 110%;
        }


        .items
        {
            display: flex;
            align-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: var(--inner_gap_m);

            font-family: var(--font_family_tertiary);
            font-size: var(--font_size_l);
            line-height: 135%;


            & > *
            {
                padding-block: var(--inner_gap_m);
                padding-inline: var(--inner_gap_s);

                border: 1px solid var(--border_color_secondary);
                border-radius: var(--border_radius_xs);
                background: linear-gradient(315deg, var(--secondary_color) 9.34%, #194c4d 94.77%);
            }
        }


        .exp
        {
            padding-left: var(--inner_gap);

            font-family: var(--font_family_tertiary);
            font-size: var(--font_size_l);
            font-weight: 500;
            line-height: 135%;

            border-left: 3px solid var(--primary_color);
        }


        .action
        {
            margin-top: var(--inner_gap_m);
            padding: 0;

            border-radius: 0;
            background: none;


            .info
            {
                .desc
                {
                    width: 100%;

                    color: #c8c8c8;
                }
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .parents_agreement
    {
        .grid
        {
            grid-template-columns: 400px 1fr;


            & > .info
            {
                padding: var(--inner_gap_l);
            }
        }


        .info
        {
            .desc
            {
                width: 100%;
                padding-right: var(--block_padding_l);

                font-size: var(--font_size);
            }


            .exp
            {
                width: 100%;

                font-size: var(--font_size);
            }
        }


        .data
        {
            padding: var(--inner_gap_l);


            .items
            {
                gap: var(--inner_gap_xxs);

                font-size: var(--font_size);
            }


            .exp
            {
                font-size: var(--font_size);
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .parents_agreement
    {
        .grid
        {
            grid-template-columns: 1fr;
        }
    }
}



@media (max-width: 767px)
{
    .parents_agreement
    {
        .grid
        {
            & > .info
            {
                padding: var(--inner_gap);
            }
        }


        .info
        {
            .icon
            {
                top: var(--inner_gap_m);
                right: var(--inner_gap_m);

                width: 40px;
                padding: 7px;
            }


            .desc
            {
                padding-right: 0;

                font-size: 15px;
            }


            .exp
            {
                font-size: 15px;
            }
        }


        .data
        {
            padding: var(--inner_gap);


            .items,
            .exp
            {
                font-size: 15px;
            }


            .items
            {
                & > *
                {
                    padding-block: var(--inner_gap_xxs);
                    padding-inline: var(--inner_gap_xs);
                }
            }
        }
    }
}
