/*-------------
    Process
-------------*/
.process
{
    overflow: clip;


    &:after
    {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;

        display: block;

        width: 798px;
        height: 916px;

        content: '';
        transform: translate(-1230px, -33.188%);
        pointer-events: none;

        border-radius: 916px;
        background: rgba(59, 191, 168, .20);

        filter: blur(200px);
    }


    .cont
    {
        position: relative;
        z-index: 3;
    }


    .block_head
    {
        &.row
        {
            .title
            {
                width: 834px;
            }


            .desc
            {
                width: 634px;
                max-width: 100%;
            }
        }


        .pre_title,
        .title
        {
            color: var(--light_color);
        }


        .desc
        {
            font-family: var(--font_family_tertiary);

            color: var(--light_color);
        }
    }


    .grid_row
    {
        --items_per_line: 2;
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
    }


    .item
    {
        display: flex;
        flex-direction: column;
        gap: var(--inner_gap_l);

        padding: var(--inner_gap_xl);

        border: 1px solid var(--border_color_secondary);
        border-radius: var(--border_radius_s);
        background: linear-gradient(315deg, #113138 9.34%, #194c4d 94.77%);


        .title
        {
            font-family: var(--font_family_secondary);
            font-size: 30px;
            font-weight: 600;
            line-height: 110%;
        }


        .items
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap);

            counter-reset: number;


            & > *
            {
                position: relative;

                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: var(--inner_gap_m);

                min-height: 37px;
                padding-left: 57px;


                & > *
                {
                    position: relative;
                    z-index: 3;
                }


                &:not(:last-child):before
                {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 19px;

                    display: block;

                    width: 1px;
                    height: calc(100% + var(--inner_gap_xl));

                    content: '';
                    pointer-events: none;

                    background: var(--primary_color);
                }
            }


            .number
            {
                position: absolute;
                top: 0;
                left: 0;

                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;

                width: 37px;
                margin-right: var(--inner_gap_s);

                font-size: var(--font_size_l);
                line-height: 135%;

                border: 1px solid var(--primary_color);
                border-radius: 50%;
                background: var(--border_color_secondary);

                aspect-ratio: 1 / 1;


                &:before
                {
                    content: counter(number);
                    counter-increment: number;
                }
            }


            .icon
            {
                position: absolute;
                top: 0;
                left: 0;

                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;

                width: 37px;

                border-radius: 50%;
                background: var(--primary_color);

                aspect-ratio: 1 / 1;


                img
                {
                    display: block;

                    width: 14px;
                    height: 10px;
                }
            }


            .name
            {
                font-size: var(--font_size_l);
                font-weight: 600;
                line-height: 135%;
            }


            .desc
            {
                font-size: var(--font_size_l);
                line-height: 135%;

                color: #c8c8c8;
            }
        }


        .exp
        {
            position: relative;

            padding-top: var(--inner_gap_l);
            padding-left: 37px;

            font-size: var(--font_size_l);
            line-height: 130%;
            letter-spacing: -.54px;

            color: #c8c8c8;
            border-top: 1px solid var(--border_color_secondary);


            &:before
            {
                position: absolute;
                top: calc(var(--inner_gap_l) + 4px);
                left: 0;

                display: block;

                width: 16px;
                height: 12px;

                content: '';

                background: url(../../../images/ic_check_white.svg) 0 0/100% 100% no-repeat;
            }
        }
    }


    .bottom
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: var(--inner_gap);

        margin-top: var(--outside_gap);


        .title
        {
            width: 300px;
            min-width: 300px;
            max-width: 100%;

            font-family: var(--font_family_secondary);
            font-size: 30px;
            font-weight: 600;
            line-height: 110%;
        }


        .desc
        {
            width: 100%;

            font-family: var(--font_family_tertiary);
            font-size: var(--font_size_l);
            line-height: 135%;

            color: #c8c8c8;
        }


        .whatsapp_link
        {
            position: relative;

            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: flex-start;

            min-height: 60px;
            margin-left: var(--block_padding);
            padding-block: 6px;
            padding-inline: 60px var(--inner_gap_s);

            font-size: var(--font_size_l);
            font-weight: 500;
            line-height: 130%;
            letter-spacing: -.36px;

            white-space: nowrap;
            text-decoration: none;

            color: var(--secondary_color);
            border-radius: var(--border_radius_max);
            background: var(--primary_color);


            .icon
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 6px;

                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;

                width: 48px;
                min-width: 48px;
                height: 48px;
                margin-block: auto;

                transition: .2s linear;

                color: var(--primary_color);
                border-radius: 50%;
                background: var(--secondary_color);


                svg
                {
                    display: block;

                    width: 16px;
                    height: 16px;
                }
            }


            span
            {
                margin-inline: auto;
                padding-inline: var(--inner_gap_xxs);

                transition: transform .2s linear;
            }


            @media (hover: hover) and (pointer: fine)
            {
                &:hover
                {
                    .icon
                    {
                        left: calc(100% - 54px);

                        transform: rotate(360deg);
                    }


                    span
                    {
                        transform: translateX(-54px);
                    }
                }
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .process
    {
        .block_head
        {
            &.row
            {
                .desc
                {
                    width: 480px;
                }
            }
        }


        .item
        {
            padding: var(--inner_gap_l);


            .title
            {
                font-size: 26px;
            }


            .items
            {
                & > *
                {
                    min-height: 36px;
                    padding-left: 56px;
                }


                .number,
                .icon
                {
                    width: 36px;
                }


                .name,
                .desc
                {
                    font-size: var(--font_size);
                }
            }


            .exp
            {
                padding-top: var(--inner_gap);
                padding-left: 36px;

                font-size: var(--font_size);
            }
        }


        .bottom
        {
            .title
            {
                width: 240px;
                min-width: 240px;

                font-size: 26px;
            }


            .desc
            {
                font-size: var(--font_size);
            }


            .whatsapp_link
            {
                min-height: 56px;
                margin-left: 0;
                padding-inline: 64px var(--inner_gap_s);

                font-size: var(--font_size);


                .icon
                {
                    width: 46px;
                    min-width: 46px;
                    height: 46px;
                }


                span
                {
                    padding-inline: 0;
                }
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .process
    {
        .grid_row
        {
            --items_per_line: 1;
        }


        .bottom
        {
            flex-wrap: wrap;


            .title
            {
                width: 100%;
                min-width: 0;
            }


            .desc
            {
                width: calc(100% - 277px - var(--inner_gap));
            }
        }
    }
}



@media (max-width: 767px)
{
    .process
    {
        .block_head
        {
            &.row
            {
                .title,
                .desc
                {
                    width: 100%;
                }
            }
        }


        .item
        {
            padding: var(--inner_gap);


            .title
            {
                font-size: var(--font_size_title);
            }


            .items
            {
                & > *
                {
                    min-height: 28px;
                    padding-left: 40px;


                    &:not(:last-child):before
                    {
                        left: 12px;
                    }
                }


                .number,
                .icon
                {
                    width: 28px;

                    font-size: 15px;
                }


                .name,
                .desc
                {
                    font-size: 15px;
                }
            }


            .exp
            {
                padding-left: 32px;

                font-size: 15px;
            }
        }


        .bottom
        {
            flex-wrap: wrap;

            text-align: center;


            .title
            {
                font-size: var(--font_size_title);
            }


            .desc
            {
                width: 100%;

                font-size: 15px;
            }


            .whatsapp_link
            {
                width: 100%;

                white-space: normal;
            }
        }
    }
}
