/*------------------
    Service head
------------------*/
.service_head
{
    overflow: clip;

    margin-bottom: var(--block_padding);
    padding-block: 131px 56px !important;


    &:after
    {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;

        display: block;

        width: 882px;
        height: 615px;

        content: '';
        transform: translateX(-1409px);
        pointer-events: none;

        border-radius: 882px;
        background: rgba(59, 191, 168, .20);

        filter: blur(150px);
    }


    .cont
    {
        position: relative;
        z-index: 3;

        display: flex;
        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .data
    {
        display: flex;
        flex-direction: column;
        gap: var(--block_padding);

        width: calc(100% - 652px - var(--block_padding));
        padding-top: var(--inner_gap);


        &.l_w
        {
            gap: var(--inner_gap);

            width: calc(100% - 540px - var(--outside_gap));


            .breadcrumbs
            {
                margin-bottom: var(--inner_gap_s);
            }


            .title,
            .desc
            {
                width: 698px;
            }
        }


        .title
        {
            width: 574px;
            max-width: 100%;

            font-family: var(--font_family_secondary);
            font-size: var(--font_size_title_l);
            font-weight: 500;
            line-height: 110%;
        }


        .desc
        {
            width: 551px;
            max-width: 100%;

            font-size: var(--font_size_l);
            line-height: 135%;
        }


        .btns
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: var(--inner_gap);

            margin-top: auto;


            .whatsapp_link
            {
                position: relative;

                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: flex-start;

                min-height: 60px;
                padding-block: 6px;
                padding-inline: 60px var(--inner_gap_s);

                font-size: var(--font_size_l);
                font-weight: 500;
                line-height: 130%;
                letter-spacing: -.36px;

                text-decoration: none;

                color: var(--secondary_color);
                border-radius: var(--border_radius_max);
                background: var(--primary_color);


                .icon
                {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 6px;

                    display: flex;
                    align-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;

                    width: 48px;
                    min-width: 48px;
                    height: 48px;
                    margin-block: auto;

                    transition: .2s linear;

                    color: var(--primary_color);
                    border-radius: 50%;
                    background: var(--secondary_color);


                    svg
                    {
                        display: block;

                        width: 16px;
                        height: 16px;
                    }
                }


                span
                {
                    margin-inline: auto;
                    padding-inline: var(--inner_gap_xxs);

                    transition: transform .2s linear;
                }


                @media (hover: hover) and (pointer: fine)
                {
                    &:hover
                    {
                        .icon
                        {
                            left: calc(100% - 54px);

                            transform: rotate(360deg);
                        }


                        span
                        {
                            transform: translateX(-54px);
                        }
                    }
                }
            }


            .btn
            {
                height: 60px;
                padding-inline: var(--inner_gap_xl);

                font-size: var(--font_size_l);
                font-weight: 500;
                line-height: 130%;
                letter-spacing: -.36px;

                transition: color .2s linear;

                border: 1px solid #879ca0;
                border-radius: var(--border_radius_max);


                @media (hover: hover) and (pointer: fine)
                {
                    &:hover
                    {
                        color: var(--primary_color);
                    }
                }
            }
        }


        .exp
        {
            width: 541px;
            max-width: 100%;

            font-size: var(--font_size_xs);
            line-height: 135%;

            color: #c8c8c8;
        }
    }


    .image
    {
        width: 652px;
        max-width: 100%;

        border-radius: var(--border_radius);


        &.s_w
        {
            width: 540px;
        }
    }
}



@media print,
(max-width: 1439px)
{
    .service_head
    {
        .data
        {
            width: calc(100% - 583px - var(--block_padding));
        }


        .image
        {
            width: 583px;
        }
    }
}



@media print,
(max-width: 1279px)
{
    .service_head
    {
        .data
        {
            &,
            &.l_w
            {
                width: calc(100% - 416px - var(--block_padding));
                padding-top: 0;
            }


            .desc
            {
                font-size: var(--font_size);
            }


            .btns
            {
                gap: var(--inner_gap_xs);


                .whatsapp_link
                {
                    min-height: 56px;
                    padding-inline: 64px var(--inner_gap_s);

                    font-size: var(--font_size);


                    .icon
                    {
                        width: 46px;
                        min-width: 46px;
                        height: 46px;
                    }


                    span
                    {
                        padding-inline: 0;
                    }
                }


                .btn
                {
                    height: 56px;
                    padding-inline: var(--inner_gap_l);

                    font-size: var(--font_size);
                }
            }
        }


        .image
        {
            &,
            &.s_w
            {
                width: 416px;
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .service_head
    {
        padding-block: 120px 0 !important;


        .data
        {
            width: 100%;


            .desc
            {
                width: 100%;
            }
        }


        .image
        {
            width: calc(100% + var(--cont_padding_double));
            max-width: calc(100% + var(--cont_padding_double));
            margin-inline: calc(var(--cont_padding) * -1);
            margin-top: var(--block_padding_l);
        }
    }
}



@media (max-width: 767px)
{
    .service_head
    {
        .data
        {
            .desc
            {
                line-height: 140%;
            }


            .btns
            {
                .whatsapp_link,
                .btn
                {
                    width: 100%;
                }
            }
        }
    }
}

