/*------------
    Stages
------------*/
.stages
{
    overflow: clip;


    &:after
    {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;

        display: block;

        width: 798px;
        height: 745px;

        content: '';
        transform: translate(-1230px, -33.154%);
        pointer-events: none;

        border-radius: 798px;
        background: rgba(59, 191, 168, .20);

        filter: blur(200px);
    }


    .cont
    {
        position: relative;
        z-index: 3;
    }


    .grid
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--outside_gap_s);
    }


    .block_head
    {
        margin-bottom: 0;


        .grid &
        {
            gap: var(--inner_gap);

            width: 478px;
            max-width: 100%;
        }


        &.row
        {
            position: relative;


            .pre_title
            {
                position: absolute;
                top: 0;
                right: 0;

                margin-bottom: 0;
            }


            .col
            {
                gap: 36px;

                width: 400px;
            }
        }


        .pre_title
        {
            margin-bottom: var(--inner_gap_m);

            color: var(--light_color);
        }


        .title,
        .desc
        {
            color: var(--light_color);
        }
    }


    .items
    {
        display: flex;
        flex-direction: column;
        gap: var(--inner_gap_s);

        width: calc(100% - 400px - var(--block_padding));
        margin-top: -256px;
        margin-bottom: var(--block_head_offset);
        margin-left: auto;

        counter-reset: number;


        .grid &
        {
            width: calc(100% - 478px - var(--outside_gap_s));
            margin-top: 65px;
        }


        .item
        {
            position: relative;

            display: flex;
            align-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 48px;


            &:before
            {
                position: absolute;
                z-index: 2;
                top: 14px;
                left: 292px;

                display: block;

                width: 10px;

                content: '';
                pointer-events: none;

                border-radius: 50%;
                background: var(--light_color);

                aspect-ratio: 1 / 1;
            }


            &:after
            {
                position: absolute;
                z-index: 1;
                top: 14px;
                left: 291px;

                display: block;

                width: 5px;
                height: calc(100% + var(--inner_gap_s) + 10px);
                margin-left: 3px;

                content: '';
                pointer-events: none;

                background: #2e5760;
            }


            &:last-child:after
            {
                display: none;
            }


            .grid &
            {
                &:before
                {
                    left: 114px;
                }


                &:after
                {
                    left: 113px;
                }
            }


            .name
            {
                width: 272px;
                max-width: 100%;


                &.s_w
                {
                    width: 96px;
                }


                & > span
                {
                    display: block;

                    width: fit-content;
                    margin-left: auto;
                    padding-block: 6px;
                    padding-inline: var(--inner_gap_s);

                    font-size: var(--font_size_l);
                    line-height: 135%;

                    color: #10313d;
                    border: 1px solid #2e5760;
                    border-radius: 30px;
                    background: #f5f6f7;
                }


                .number
                {
                    &:before
                    {
                        content: counter(number);
                        counter-increment: number;
                    }
                }
            }


            .info
            {
                width: calc(100% - 272px - 48px);


                &.l_w
                {
                    width: calc(100% - 96px - 48px);
                }
            }


            .label
            {
                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;

                padding-block: 5px;
                padding-inline: var(--inner_gap_s) 5px;

                font-size: var(--font_size_l);
                line-height: 135%;

                cursor: pointer;

                border: 1px solid #2e5760;
                border-radius: 30px;


                span
                {
                    width: calc(100% - 25px - var(--inner_gap));
                }


                .icon
                {
                    &,
                    img
                    {
                        display: block;

                        width: 25px;

                        aspect-ratio: 1 / 1;
                    }


                    img
                    {
                        transition: transform .2s linear;


                        .active &
                        {
                            transform: rotate(180deg);
                        }
                    }
                }
            }


            .hidden
            {
                display: none;

                margin-top: var(--inner_gap_xs);
                padding-bottom: var(--inner_gap_m);

                font-size: var(--font_size_l);
                line-height: 135%;


                .text
                {
                    display: flex;
                    flex-direction: column;
                    gap: var(--inner_gap_s);

                    margin-left: var(--inner_gap_s);

                    font-family: var(--font_family_tertiary);


                    ul
                    {
                        display: flex;
                        flex-direction: column;
                        gap: var(--inner_gap_xs);


                        & > li
                        {
                            position: relative;

                            display: block;
                            overflow: hidden;

                            padding-left: 17px;

                            list-style-type: none;


                            &:before
                            {
                                position: absolute;
                                top: .5lh;
                                left: 0;

                                display: block;

                                width: 9px;
                                height: 7px;

                                content: '';
                                transform: translateY(-50%);

                                background: url(../../../images/ic_check_light.svg) 0 0/100% 100% no-repeat;
                            }
                        }
                    }
                }


                .exp
                {
                    margin-top: var(--inner_gap);
                    margin-left: var(--inner_gap_s);
                    padding: var(--inner_gap_s);

                    font-family: var(--font_family_tertiary);

                    border: 1px solid #296668;
                    border-radius: var(--border_radius_s);
                    background: linear-gradient(315deg, var(--secondary_color) 9.34%, #194c4d 94.77%);


                    b,
                    strong
                    {
                        font-weight: 600;
                    }
                }
            }
        }
    }


    .period
    {
        padding-top: var(--inner_gap_s);


        .title
        {
            margin-bottom: var(--inner_gap_s);

            font-family: var(--font_family_secondary);
            font-size: var(--font_size_title_xs);
            font-weight: 600;
            line-height: 110%;
        }


        .text_block
        {
            font-size: var(--font_size_l);
            line-height: 135%;

            --items_per_line: 2;
        }


        .after
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_s);

            margin-top: var(--block_padding);

            font-size: var(--font_size_l);
            line-height: 135%;
        }
    }


    .need_lawyer
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: var(--outside_gap);


        .block_head
        {
            gap: var(--inner_gap_s);

            width: 451px;
            max-width: 100%;
            margin-bottom: 0;


            .title
            {
                font-size: 30px;
                font-weight: 600;
                line-height: 110%;
            }


            .desc
            {
                width: 381px;

                color: #c8c8c8;
            }
        }


        .data
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_xl);

            width: calc(100% - 451px - var(--outside_gap));
        }


        .text
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap);

            font-size: var(--font_size_l);
            line-height: 135%;

            color: #c8c8c8;
        }


        .btn
        {
            width: fit-content;
            height: 59px;
            padding-inline: var(--inner_gap_l);

            font-size: var(--font_size_l);
            font-weight: 500;
            line-height: 130%;
            letter-spacing: -.36px;

            color: var(--secondary_color);
            border-radius: var(--border_radius_l);
            background: var(--primary_color);
        }
    }
}



@media print,
(max-width: 1279px)
{
    .stages
    {
        .block_head
        {
            margin-bottom: var(--block_head_offset);


            .grid &
            {
                width: 368px;
            }


            &.row
            {
                .pre_title
                {
                    position: relative;
                }


                .col
                {
                    gap: var(--inner_gap_xl);

                    width: 760px;
                }
            }
        }


        .items
        {
            width: 100%;
            margin-top: 0;


            .grid &
            {
                width: calc(100% - 368px - var(--outside_gap_s));
            }


            .item
            {
                .name
                {
                    & > span
                    {
                        font-size: var(--font_size);
                    }
                }


                .label
                {
                    font-size: var(--font_size);
                }


                .hidden
                {
                    font-size: var(--font_size);
                }
            }
        }


        .period
        {
            .text_block,
            .after
            {
                font-size: var(--font_size);
            }
        }


        .need_lawyer
        {
            .block_head
            {
                width: 368px;
            }


            .data
            {
                width: calc(100% - 348px - var(--outside_gap));
            }


            .text
            {
                font-size: var(--font_size);
            }


            .btn
            {
                height: 56px;

                font-size: var(--font_size);
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .stages
    {
        .grid
        {
            gap: 0;
        }


        .block_head
        {
            .grid &
            {
                width: 100%;
            }


            &.row
            {
                .col
                {
                    gap: var(--inner_gap_l);

                    width: 500px;
                }
            }
        }


        .items
        {
            .grid &
            {
                width: 100%;
                margin-top: 0;
                margin-bottom: 0;
            }


            .item
            {
                gap: var(--block_padding_l);


                &:before
                {
                    top: 13px;
                    left: 254px;
                }


                &:after
                {
                    top: 13px;
                    left: 253px;
                }


                .name
                {
                    width: 240px;
                }


                .info
                {
                    width: calc(100% - 240px - var(--block_padding_l));
                }
            }
        }


        .need_lawyer
        {
            .block_head
            {
                width: 100%;
                margin-bottom: var(--block_head_offset);
            }


            .data
            {
                width: 100%;
            }
        }
    }
}



@media (max-width: 767px)
{
    .stages
    {
        .block_head
        {
            .col
            {
                gap: var(--inner_gap);

                width: 100%;
            }
        }


        .items
        {
            .item
            {
                gap: var(--inner_gap_m);

                padding-left: 30px;


                &:before,
                &:after
                {
                    left: 0;
                }


                .grid &
                {
                    &:before,
                    &:after
                    {
                        left: 0;
                    }
                }


                .name
                {
                    &,
                    &.s_w
                    {
                        width: 100%;
                    }


                    & > span
                    {
                        margin-left: 0;

                        font-size: 15px;
                    }
                }


                .info
                {
                    &,
                    &.l_w
                    {
                        width: 100%;
                    }
                }


                .label,
                .hidden
                {
                    font-size: 15px;
                }
            }
        }


        .period
        {
            .text_block,
            .after
            {
                font-size: 15px;
                line-height: 140%;

                --items_per_line: 1;
            }
        }


        .need_lawyer
        {
            .text
            {
                font-size: 15px;
            }


            .btn
            {
                width: 100%;
            }
        }
    }
}
