/*---------------------
    Work situations
---------------------*/
.work_situations
{
    .block_head
    {
        &.row
        {
            .title
            {
                width: 653px;
            }


            .desc
            {
                width: 568px;
            }
        }
    }


    .data
    {
        display: flex;
        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--inner_gap_s);


        .items_large
        {
            display: grid;
            gap: var(--inner_gap_s);

            width: calc(100% - 430px - var(--inner_gap_s));

            grid-template-columns: 1fr;
        }


        .items_small
        {
            display: grid;
            gap: var(--inner_gap_s);

            width: 430px;
            max-width: 100%;

            grid-auto-columns: 1fr;
        }


        .item
        {
            position: relative;

            display: flex;
            flex-direction: column;
            gap: var(--inner_gap);

            padding: var(--inner_gap);

            text-decoration: none;

            color: currentColor;
            border: 1px solid var(--border_color);
            border-radius: var(--border_radius);
            background: var(--bg_grey);


            .items_large &
            {
                padding: var(--inner_gap_xl);
            }


            .info
            {
                display: flex;
                flex-direction: column;
                gap: var(--inner_gap);

                width: calc(100% - 224px);
            }


            .name
            {
                width: fit-content;
                padding-block: 6px;
                padding-inline: var(--inner_gap_s);

                font-size: var(--font_size_xl);
                line-height: 135%;

                color: var(--light_color);
                border-radius: 30px;
                background: linear-gradient(90deg, var(--secondary_color) 0%, #174648 100%);
            }


            .label
            {
                margin-bottom: -15px;

                font-size: var(--font_size_l);
                font-weight: 600;
                line-height: 130%;
                letter-spacing: -.54px;

                color: var(--secondary_color);
            }


            .desc
            {
                font-size: var(--font_size_l);
                line-height: 130%;
                letter-spacing: -.54px;

                color: var(--grey_color_strong);
            }


            .link
            {
                width: fit-content;
                margin-top: auto;

                font-size: var(--font_size_l);
                font-weight: 500;
                line-height: 130%;
                letter-spacing: -.54px;

                color: var(--secondary_color);
                border-bottom: 1px solid;
            }


            .image
            {
                position: absolute;
                top: -1px;
                right: -1px;

                display: block;

                width: 235px;
                height: calc(100% + 2px);

                border: 1px solid var(--border_color);
                border-radius: var(--border_radius);
                background: var(--bg_grey);
            }
        }
    }


    .we_dont_do
    {
        position: relative;

        display: flex;
        overflow: hidden;
        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: 45px;
        padding: var(--inner_gap_xl);

        border: 1px solid var(--border_color);
        border-radius: var(--border_radius);
        background: var(--bg_grey);


        & > *
        {
            position: relative;
            z-index: 3;
        }


        &:before
        {
            position: absolute;
            z-index: 1;
            top: var(--inner_gap_xl);
            right: 0;

            display: block;

            width: 1213px;
            height: 389px;

            content: '';
            transform: translateX(27.865%);
            pointer-events: none;

            border-radius: 1213px;
            background: rgba(229, 29, 29, .20);

            filter: blur(100px);
        }


        .info
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_xs);

            width: 362px;
            max-width: 100%;


            .title
            {
                font-family: var(--font_family_secondary);
                font-size: 30px;
                font-weight: 600;
                line-height: 110%;

                color: var(--secondary_color);
            }


            .desc
            {
                font-size: var(--font_size_l);
                line-height: 130%;
                letter-spacing: -.54px;

                color: var(--grey_color_strong);


                &.bottom
                {
                    margin-top: auto;
                }
            }
        }


        .items
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_m);

            width: 800px;
            max-width: calc(100% - 362px - var(--block_padding));


            .item
            {
                display: flex;
                flex-direction: column;

                padding: var(--inner_gap_s);

                font-family: var(--font_family_tertiary);
                font-size: var(--font_size_l);
                line-height: 135%;

                color: #2f2f2f;
                border: 1px solid #ffb2b2;
                border-radius: var(--border_radius_s);
                background: var(--light_color);


                .name
                {
                    font-weight: 600;
                }
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .work_situations
    {
        .block_head
        {
            &.row
            {
                .title
                {
                    width: 640px;
                }


                .desc
                {
                    width: 500px;
                }
            }
        }


        .data
        {
            .items_large
            {
                width: calc(100% - 348px - var(--inner_gap_s));
            }


            .items_small
            {
                width: 348px;
            }


            .item
            {
                .image
                {
                    width: 189px;
                }


                .info
                {
                    width: calc(100% - 187px);
                }


                .name
                {
                    font-size: var(--font_size_l);
                }


                .label,
                .desc
                {
                    font-size: var(--font_size);
                }


                .link
                {
                    font-size: var(--font_size);
                }


                .items_large &
                {
                    padding: var(--inner_gap_l);
                }
            }
        }


        .we_dont_do
        {
            margin-top: var(--block_padding);
            padding: var(--inner_gap_l);


            .info
            {
                width: 300px;


                .title
                {
                    font-size: 28px;
                }


                .desc
                {
                    font-size: var(--font_size);
                }
            }


            .items
            {
                max-width: calc(100% - 300px - var(--block_padding));


                .item
                {
                    font-size: var(--font_size);
                }
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .work_situations
    {
        .block_head
        {
            &.row
            {
                .title
                {
                    width: 500px;
                }
            }
        }


        .data
        {
            .items_large,
            .items_small
            {
                width: 100%;
            }
        }


        .we_dont_do
        {
            padding: var(--inner_gap);
        }
    }
}



@media (max-width: 767px)
{
    .work_situations
    {
        .block_head
        {
            &.row
            {
                .title
                {
                    width: 100%;
                }
            }
        }


        .data
        {
            .item
            {
                .items_large &
                {
                    padding: var(--inner_gap);
                }


                .info
                {
                    width: 100%;
                }


                .name
                {
                    font-size: var(--font_size);

                    border-radius: var(--border_radius);
                }


                .label,
                .desc
                {
                    font-size: 15px;
                }


                .image
                {
                    position: relative;
                    inset: auto;

                    width: calc(100% + 2px + var(--inner_gap) * 2);
                    height: 198px;
                    margin-block: 0 calc(var(--inner_gap) * -1 - 1px);
                    margin-inline: calc(var(--inner_gap) * -1 - 1px);
                }
            }
        }


        .we_dont_do
        {
            .info
            {
                width: 100%;
                margin-bottom: var(--inner_gap_xl);


                .title
                {
                    font-size: var(--font_size_title);
                }


                .desc
                {
                    font-size: 15px;
                }
            }


            .items
            {
                width: 100%;
                max-width: 100%;


                .item
                {
                    font-size: 15px;
                }
            }
        }
    }
}
